body {
  background-color: azure;
  font-family: 'Quicksand', sans-serif;
}

.jumbotron {
  background-color: #3f9ac7;
}

.landingImg {
  background-color: #7ab9d8;
}

.copy {
  background-color: #373838;
  color: white;
}

.message {
  background-color: #c3ddd3;
}

.l {
  cursor: pointer;
}
.light {
  background-color: #bec5c3;
}

.texth {
  font-size: 20px;
}

a:hover,
.ex:hover {
  text-decoration: none;
  color: #0275d8;
  font-size: large;
}

.card .p3:hover,
.copy:hover {
  font-size: large;
}

.btn a {
  color: rgb(31, 31, 31);
}
